<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team10.settings.mapper.DicSubTypeMapper">
    <select id="getGoodsSubType" parameterType="com.team10.settings.model.DicSubType" resultType="com.team10.settings.model.DicSubType">
        select
            d.id,
            d.text,
            d.value,
            d.order,
            d.parent_id,
            d.enable
        from
            t_dic_sub_type d
        where
            enable = #{enable}
        and
            d.parent_id = #{parentId}
    </select>
</mapper>