<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=none,
    maximum-scale=1.0,mininum-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/类目聚合页.css">
</head>
<script src="jquery-3.5.1.js"></script>
<body>
    <div class="blank"></div>
    <!-- banner -->
    <div class="banner">
        <a href="index.html"><em class="left-logo"><img src="img/向左箭头jd.png" alt=""></em></a>
        <span>车载电器</span>
    </div>
    <!-- 分类导航 -->
    <div class="banner-classfy"></div>
    <!-- 分类商品信息 -->
    <div class="classfy-good">
        <ul class="mian_bd">
            <li>
                <a href="goodsDetail.html">
                    <div class="img1">
                    </div>
                    <p>车载吸尘器车用家用车两用大功率汽车内强力</p>
                    <span class="now_price">￥18.8</span><span class="used_price">￥48.9</span>
                </a>
            </li>
            <li>
                <a href="goodsDetail.html">
                    <div class="img1">
                    </div>
                    <p>车载吸尘器车用家用车两用大功率汽车内强力</p>
                    <span class="now_price">￥18.8</span><span class="used_price">￥48.9</span>
                </a>
            </li>
            <li>
                <a href="goodsDetail.html">
                    <div class="img1">
                    </div>
                    <p>车载吸尘器车用家用车两用大功率汽车内强力</p>
                    <span class="now_price">￥18.8</span><span class="used_price">￥48.9</span>
                </a>
            </li>
            <li>
                <a href="goodsDetail.html">
                    <div class="img1">
                    </div>
                    <p>车载吸尘器车用家用车两用大功率汽车内强力</p>
                    <span class="now_price">￥18.8</span><span class="used_price">￥48.9</span>
                </a>
            </li>
            <li>
                <a href="goodsDetail.html">
                    <div class="img1">
                    </div>
                    <p>车载吸尘器车用家用车两用大功率汽车内强力</p>
                    <span class="now_price">￥18.8</span><span class="used_price">￥48.9</span>
                </a>
            </li>
            <li>
                <a href="goodsDetail.html">
                    <div class="img1">
                    </div>
                    <p>车载吸尘器车用家用车两用大功率汽车内强力</p>
                    <span class="now_price">￥18.8</span><span class="used_price">￥48.9</span>
                </a>
            </li>
        </ul>
    </div>
                    <!-- 下面固定盒子会拦住下面盒子的显示内容 -->
        <div class="blance"></div>
        <!-- 下部菜单 -->
        <ul class="bottom-footer">
            <li><a href="index.html">
                <span class="bottom-footer-icon1"></span>
                <span class="bottom-footer-font">商城</span>
            </a></li>
            <li><a href="my.html">
                <span class="bottom-footer-icon2"></span>
                <span class="bottom-footer-font">我的</span>
            </a></li>
        </ul> 
</body>
</html>