<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=none,
    maximum-scale=1.0,mininum-scale=1.0">
    <title>下单详情页</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/下单详情页.css">
</head>
<script src="jquery-3.5.1.js"></script>
<body>
    <div class="blank"></div>
    <!-- banner -->
    <div class="banner">
        <em class="left-logo" id="back"><img src="img/向左箭头jd.png" alt=""></em>
        <script language="javascript"> 
            var oBack=document.getElementById("back");
            oBack.onclick=function(){
                window.history.back(-1); 
            };
        </script>
        <span>待付款</span>
    </div>
    <!-- 收货 -->
    <div class="bg"></div>
    <div class="address">
        <a href="我的地址.html"><img src="img组.png" alt=""></a>
        <div class="txt">北京市海淀区花园东路19号中兴大厦7层东侧501室</div>
        <p><span>收件人</span><span>18888888888</span></p>
        <a href="我的地址-编辑.html"><em><img src="img辑.png" alt=""></em></a>
    </div>
    <!-- 商品 -->
    <div class="good">
        <a href="商品详情页" class="good_detail">
            <div class="good_hd"><span>车品商城</span><span>代付款</span></div>
        <div class="good_bd">
            <img src="upload载电器.dpg" alt="">
            <div class="txt">
                <p>360行车记录仪 G300 迷你隐藏 高清夜视 无限车速 黑灰色</p>
                <span class="txt_attr">深灰色</span ><span class="txt_num">×1</span><span class="txt_price">￥221</span>
            </div>
        </div>
        <div class="ps">
            货品总价：￥44.2 <br>
            物流费用：￥100.0
        </div>
        <div class="total_price">
            <p><span>总额：</span>
                <span>￥220</span></p>
        </div>
    </div>

    <div class="from">
        <div class="hd">订单信息</div>
        <ul class="bd">
            <li><span>订单编号</span><span>SA11222224</span></li>
            <li><span>下单时间</span><span>2020-06-12 18:00:00</span></li>
        </ul>
    </div>
    <!-- 确认 -->
    <center><button id="bt">确 认</button></center>
    
</body>
</html>