<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=none,
    maximum-scale=1.0,mininum-scale=1.0">
    <title>我的地址-编辑</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/我的地址-新增.css">
</head>
<script src="jquery-3.5.1.js"></script>
<body>
    <div class="blank"></div>
    <!-- banner -->
    <div class="banner">
        <em class="left-logo" id="back"><img src="img/向左箭头jd.png" alt=""></em>
        <script language="javascript"> 
            var oBack=document.getElementById("back");
            oBack.onclick=function(){
                window.history.back(-1); 
            };
        </script>
        <span>新增地址</span>
    </div>
    <ul class="txt">
        <li><span>地址</span><input type="text" placeholder="请输入您的收件地址"></li>
        <li><span>收件人</span><input type="text" placeholder="请输入您的收件人姓名"></li>
        <li><span>手机号</span><input type="text" placeholder="请输入您的手机号"></li>
    </ul>
    <div class="down">
        <center><button class="btn" id="btn">保存</button></center>
        <script>
            var oBtn=document.getElementById("btn");
            oBtn.onclick=function(){
                window.location.href="我的地址.html";
            }
        </script>
    </div>
</body>
</html>