<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=none,
    maximum-scale=1.0,mininum-scale=1.0">
    <title>我的地址</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/我的地址.css">
</head>
<script src="jquery-3.5.1.js"></script>
<body>
    <div class="blank"></div>
    <!-- banner -->
    <div class="banner">
        <em class="left-logo" id="back"><img src="img/向左箭头jd.png" alt=""></em>
        <script language="javascript"> 
            var oBack=document.getElementById("back");
            oBack.onclick=function(){
                window.history.back(-1); 
            };
        </script>
        <span>我的地址</span>
    </div>
    <ul class="adress_list">
        <li>
            <img src="img组.png" alt="">
            <div class="txt">北京市海淀区花园东路19号中兴大厦7层东侧501室</div>
            <p><span>收件人</span><span>18888888888</span></p>
            <a href="我的地址-编辑.html"><em><img src="img辑.png" alt=""></em></a>
        </li>
        <li>
            <img src="img组.png" alt="">
            <div class="txt">北京市海淀区花园东路19号中兴大厦7层东侧501室</div>
            <p><span>收件人</span><span>18888888888</span></p>
            <a href="我的地址-编辑.html"><em><img src="img辑.png" alt=""></em></a>
        </li>
        <li>
            <img src="img组.png" alt="">
            <div class="txt">北京市海淀区花园东路19号中兴大厦7层东侧501室</div>
            <p><span>收件人</span><span>18888888888</span></p>
            <a href="我的地址-编辑.html"><em><img src="img辑.png" alt=""></em></a>
        </li>
    </ul>
    <div class="down">
        <center><a href="我的地址-新增.html" class="btn">新增地址</a></center>
    </div>
</body>
</html>