<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team10.goods.mapper.GoodsMapper">

    <select id="getGoodsBySubType" resultType="com.team10.goods.model.Goods">
        select
            g.goods_id
            g.goods_description,
            g.pic_url1,
            g.union_id,
            g.color,
            g.sale_num,
            g.goods_price
        from
            t_goods g
        where
            g.union_id in (
                select
                    gu.id
                from
                    t_goods_union gu
                where
                    gu.sub_type_id=#{subTypeId}
            )
            and
                g.state = 1
        order by
            g.sale_num
        desc
    </select>

    <select id="getGoodsDetailByUnionId" resultType="com.team10.goods.model.Goods">
        select
            g.goods_id,
            g.union_id,
            g.color,
            g.state,
        from
            t_goods g
        where
            g.union_id=#{unionId}
    </select>

    <select id="getGoodsDetailById" resultType="com.team10.goods.model.Goods">
        select
            g.goods_id,
            g.goods_description,
            g.pic_url1,
            g.pic_url2,
            g.union_id,
            g.stock,
            g.color,
            g.state,
            g.sale_num,
            g.goods_price
        from
            t_goods g
        where
            g.goods_id=#{goodsId}
    </select>
</mapper>