body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;  
    margin: 0 auto;
    font-size: 14px;
    font-family: PingFangSC;
    color: #333;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    
}
a{
    text-decoration: none;
}
.blank{
    height: 20px;
}
div{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.banner{
    height: 44px;
    width: 100%;

    text-align: center;
    line-height: 44px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #F6F6F6;
}
.banner .left-logo{
    position:absolute;
    left: 10px;
    top: 22px;
    width: 23px;
    height: 25px;
    color:#333333;
}
.banner .left-logo img{
    width: 17px;
    height: 17px;
}
.login{
    width: 144px;
    height: 34px;
    margin: 30px 0 50px 20px;
    font-family: PingFangSC-Medium;
    font-size: 24px;
    color: #1F2129;
    font-weight: 700;
}
.login_from{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #222222;
}
.login_from .input{
    width:311px ;
    height: 48.24px;
    margin:0 auto;
    padding-top: 12px;
    border-bottom: 1px solid #ebebe8;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    font-weight: 500;
    color: #222222;
}
.login_from input{
    width: 128px;
    height: 22px;
    margin-left: 10px;
    border:0;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
}
.btn{
    width: 319px;
    height: 44px;
    margin-top: 40px;
    margin-bottom: 8px;
    background: #FFCC32;
    border: 0;
    border-radius: 2px;
}
.no-uer{
    color: #979AA8;
    font-size: 12px;

}
